{% extends 'AppBundle:Default:common/common.html.twig' %}
{% block header %}
    {% include'AppBundle:Default:common/header.html.twig' with {'user' :user} %}
{% endblock %}
{% block title %}
    <title>IPX | List New Projects</title>
{% endblock %}
{% block body %}
    <!-- Content -->
    <div id="wrapper">
        <div id="mapView" class="mob-min">
            <div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div>
        </div>
        <div id="content" class="mob-max">
            <div class="rightContainer">
                <h1>{% trans %}add.list_a_new_property{% endtrans %}</h1>
                <form role="form" action="{{ path('app_list') }}" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>{% trans %}add.title{% endtrans %}<span class="text-red">*</span></label>
                                <input name="title" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>{% trans %}add.price_from{% endtrans %}</label>
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input name="price_from" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>{% trans %}add.price_to{% endtrans %}</label>
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input name="price_to" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans %}add.description{% endtrans %}</label>
                        <textarea name="description" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label>{% trans %}add.address{% endtrans %}<span class="text-red">*</span>
                            <span id="latitude" class="label label-default"></span>
                            <span id="longitude" class="label label-default"></span>
                        </label>
                        <input class="form-control" type="text" id="address" name="address"
                               placeholder="{% trans %}add.enter_a_location{% endtrans %}"
                               autocomplete="off" required>
                        <input id="latitude_input" type="hidden" name="latitude">
                        <input id="longitude_input" type="hidden" name="longitude">
                        <p class="help-block">{% trans %}add.drag_location{% endtrans %}</p>
                    </div>

                    <div class="row" id="address">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden">
                            <div class="form-group">
                                <label>Street Number</label>
                                <input id="street_number" name="street_number" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden">
                            <div class="form-group">
                                <label>Route</label>
                                <input id="route" name="route" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>{% trans %}add.suburb{% endtrans %}</label>
                                <input id="locality" name="locality" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>{% trans %}add.state{% endtrans %}</label>
                                <input id="administrative_area_level_1" name="administrative_area_level_1"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>{% trans %}add.zip_code{% endtrans %}</label>
                                <input id="postal_code" name="postal_code" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>{% trans %}add.country{% endtrans %}</label>
                                <input id="country" name="country" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label>{% trans %}add.bedrooms{% endtrans %}</label>
                                <input name="beds" type="number" step="1" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label>{% trans %}add.bathrooms{% endtrans %}</label>
                                <input name="baths" type="number" step="0.5" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label>{% trans %}add.cars{% endtrans %}</label>
                                <div class="input-group">
                                    <input name="cars" type="number" step="0.5" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label>{% trans %}add.storages{% endtrans %}</label>
                                <div class="input-group">
                                    <input name="storages" type="number" step="0.5" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="btn-group">
                                <label>{% trans %}add.type{% endtrans %}</label>
                                <div class="clearfix"></div>
                                <a href="#" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                    <span class="dropdown-label">{% trans %}add.all{% endtrans %}</span>&nbsp;&nbsp;&nbsp;
                                    <span class="caret"></span>
                                    <input name="type" id="type_input" type="hidden">
                                </a>
                                <ul class="dropdown-menu dropdown-select">
                                    {% for type in types %}
                                        <li>
                                            <input type="radio" name="ptype">
                                            <a>{{ type | trans }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>{% trans %}add.internal_area{% endtrans %}</label>
                                <div class="input-group">
                                    <input name="internal_area" class="form-control" type="text">
                                    <div class="input-group-addon">{% trans %}add.sq_m{% endtrans %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>{% trans %}add.external_area{% endtrans %}</label>
                                <div class="input-group">
                                    <input name="external_area" class="form-control" type="text">
                                    <div class="input-group-addon">{% trans %}add.sq_m{% endtrans %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>{% trans %}add.land_area{% endtrans %}</label>
                                <div class="input-group">
                                    <input name="land" class="form-control" type="text">
                                    <div class="input-group-addon">{% trans %}add.sq_m{% endtrans %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>{% trans %}add.image_gallery{% endtrans %}<span class="text-red">*</span></label>
                                <input type="file" name="upload_images[]" class="file" multiple data-show-upload="false"
                                       data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png"
                                       data-browse-class="btn btn-o btn-default"
                                       data-browse-label="{% trans %}add.browse_images{% endtrans %}">
                                <p class="help-block">{% trans %}add.drag_image{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>{% trans %}add.amenities{% endtrans %}</label>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[Garage]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.garage{% endtrans %}
                                    </label>
                                </div>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[Security System]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.security_system{% endtrans %}
                                    </label>
                                </div>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[Air Conditioning]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.air_conditioning{% endtrans %}
                                    </label>
                                </div>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[Balcony]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.balcony{% endtrans %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[Outdoor Pool]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.outdoor_pool{% endtrans %}
                                    </label>
                                </div>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[Internet]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.internet{% endtrans %}
                                    </label>
                                </div>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[Heating]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.heating{% endtrans %}
                                    </label>
                                </div>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[TV Cable]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.tv_cable{% endtrans %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[Garden]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.garden{% endtrans %}
                                    </label>
                                </div>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[Telephone]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.telephone{% endtrans %}
                                    </label>
                                </div>
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input name="amenities[Fireplace]" type="checkbox">
                                        <span class="fa fa-check"></span>
                                        {% trans %}add.fireplace{% endtrans %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-green btn-lg">
                            {% trans %}add.add_property{% endtrans %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %} {% block javascripts %}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('js/infobox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.tagsinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fileinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/app-add.js') }}"></script>
{% endblock %}