{% extends 'AppBundle:Default:common/common.html.twig' %}
{% block header %}
    {% include'AppBundle:Default:common/header.html.twig' with {'user' :user} %}
{% endblock %}
{% block title %}
    <title>IPX | {{ project['title'] }}</title>
{% endblock %}
{% block body %}

    <!-- Content -->
    <div id="wrapper">
        <div id="mapView" class="mob-min">
            <div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span>
                {% trans %}single.loading_map{% endtrans %}...
            </div>
        </div>
        <div id="content" class="mob-max">
            <div class="singleTop">
                <div id="carouselFull" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% if images|length >1 %}
                            <li data-target="#carouselFull" data-slide-to="0" class="active"></li>
                            {% for i in 1..images|length-1 %}
                                <li data-target="#carouselFull" data-slide-to={{ i+1 }}></li>
                            {% endfor %}
                        {% else %}
                            <li data-target="#carouselFull" data-slide-to="0" class="active"></li>
                        {% endif %}
                    </ol>
                    <div class="carousel-inner">
                        {% if images|length >1 %}
                            <div class="item active ">
                                <img src="../{{ images[0]["meta_value"] }}">
                                <div class="container">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                            {% for i in 1..images|length-1 %}
                                <div class="item ">
                                    <img src="../{{ images[i]["meta_value"] }}">
                                    <div class="container">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <img src="../{{ images[0]["meta_value"] }}">
                            <div class="container">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <a class="left carousel-control" href="#carouselFull" role="button" data-slide="prev"><span
                                class="fa fa-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carouselFull" role="button" data-slide="next"><span
                                class="fa fa-chevron-right"></span></a>
                </div>
                <div class="summary">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="summaryItem">
                                <h1 class="pageTitle">{{ project['title'] }}</h1>
                                <div class="address"><span class="icon-pointer"></span>
                                    {{ project['address'] }}
                                </div>
                                <div class="clearfix"></div>
                                <div class="price">
                                    <h3 class="price">{% trans %}single.price_pre{% endtrans %}
                                        ${{ project['min_price']|number_format(0,'.',',') }}
                                        {% trans %}single.price_next{% endtrans %}
                                    </h3>
                                </div>
                                <ul class="features">
                                    <li><span class="fa fa-moon-o"></span>
                                        <div>{{ project['beds'] }} {% trans %}single.bedrooms{% endtrans %}</div>
                                    </li>
                                    <li><span class="icon-drop"></span>
                                        <div>{{ project['baths']|number_format }} {% trans %}single.bathrooms{% endtrans %}</div>
                                    </li>
                                    <li><span class="icon-frame"></span>
                                        <div>{{ project['land'] }} {% trans %}single.sq_m{% endtrans %}</div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="agentAvatar summaryItem">
                                <div class="clearfix"></div>
                                <img class="avatar agentAvatarImg" src="{{ project['account']['avatar_url'] }}"
                                     alt="avatar">
                                <div class="agentName">{{ project['account']['first_name'] }} {{ project['account']['last_name'] }}</div>
                                <a data-toggle="modal" href="#contactAgent"
                                   class="btn btn-lg btn-round btn-green contactBtn">
                                    {% trans %}single.contact_agent{% endtrans %}
                                </a>
                                <a href="{{ url('app_investment_calculator',{'project_id':project['id']}) }}"
                                   class="btn btn-lg btn-round btn-green contactBtn">
                                    {% trans %}single.calculator{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="description">
                <h3>{% trans %}single.description{% endtrans %}</h3>
                <p>{{ project['description'] }}</p>
            </div>
            <div class="amenities">
                <h3>{% trans %}single.amenities{% endtrans %}</h3>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'Garage'in amenities?'':'inactive' }}">
                        <span class="fa fa-car"></span>
                        {% trans %}single.garage{% endtrans %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'Outdoor Pool'in amenities?'':'inactive' }}">
                        <span class="fa fa-tint"></span>
                        {% trans %}single.outdoor_pool{% endtrans %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'Garden'in amenities?'':'inactive' }}">
                        <span class="fa fa-leaf"></span>
                        {% trans %}single.garden{% endtrans %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'Security System'in amenities?'':'inactive' }}">
                        <span class="fa fa-shield"></span>
                        {% trans %}single.security_system{% endtrans %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'Internet'in amenities?'':'inactive' }}">
                        <span class="fa fa-wifi"></span>
                        {% trans %}single.internet{% endtrans %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'Telephone'in amenities?'':'inactive' }}">
                        <span class="fa fa-phone"></span>
                        {% trans %}single.telephone{% endtrans %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'Air Conditioning'in amenities?'':'inactive' }}">
                        <span class="fa fa-asterisk"></span>
                        {% trans %}single.air_conditioning{% endtrans %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'Heating'in amenities?'':'inactive' }}">
                        <span class="fa fa-sun-o"></span>
                        {% trans %}single.heating{% endtrans %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'Fireplace'in amenities?'':'inactive' }}">
                        <span class="fa fa-fire"></span>
                        {% trans %}single.fireplace{% endtrans %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'Balcony'in amenities?'':'inactive' }}">
                        <span class="fa fa-arrows-v"></span>
                        {% trans %}single.balcony{% endtrans %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem {{ 'TV Cable'in amenities?'':'inactive' }}">
                        <span class="fa fa-desktop"></span>
                        {% trans %}single.tv_cable{% endtrans %}
                    </div>
                </div>
            </div>
            <div class="similar">
                <h3>{% trans %}single.similar_properties{% endtrans %}</h3>
                <!-- carousel for medium & large devices -->
                <div id="carouselSimilar-1" class="carousel slide visible-lg carousel-col">
                    <ol class="carousel-indicators">
                        {% if similar_projects|length>3 %}
                            <li data-target="#carouselSimilar-1" data-slide-to="0"
                                class="active"></li>
                            <li data-target="#carouselSimilar-1" data-slide-to="1"></li>
                        {% else %}
                            <li data-target="#carouselSimilar-1" data-slide-to="0"
                                class="active"></li>
                        {% endif %}
                    </ol>
                    <div class="carousel-inner">
                        {% if similar_projects|length>3 %}
                            <div class="item active">
                                <div class="row">
                                    {% for i in 0..2 %}
                                        <div class="col-xs-4">
                                            <div data-linkto="{{ similar_projects[i]["id"] }}" class="card">
                                                <div class="figure">
                                                    <img src="../{{ similar_projects[i]["front_image"] }}" alt="image">
                                                    <div class="figCaption">
                                                        {% if similar_projects[i]["min_price"] <=1 %}
                                                            <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                        {% else %}
                                                            <div>${{ similar_projects[i]["min_price"]|number_format }}+
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="figView">
                                                        <span class="icon-eye"></span>
                                                    </div>
                                                    <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                                </div>
                                                <h2>{{ similar_projects[i]["title"] }}</h2>
                                                <div class="cardAddress">
                                                    <span class="icon-pointer"></span> {{ similar_projects[i]["address"] }}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    {% for i in 3..similar_projects|length-1 %}
                                        <div class="col-xs-4">
                                            <div data-linkto="{{ similar_projects[i]["id"] }}" class="card">
                                                <div class="figure">
                                                    <img src="../{{ similar_projects[i]["front_image"] }}" alt="image">
                                                    <div class="figCaption">
                                                        {% if similar_projects[i]["min_price"] <=1 %}
                                                            <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                        {% else %}
                                                            <div>${{ similar_projects[i]["min_price"]|number_format }}+
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="figView">
                                                        <span class="icon-eye"></span>
                                                    </div>
                                                    <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                                </div>
                                                <h2>{{ similar_projects[i]["title"] }}</h2>
                                                <div class="cardAddress">
                                                    <span class="icon-pointer"></span> {{ similar_projects[i]["address"] }}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="item active">
                                <div class="row">
                                    {% for i in 0..similar_projects|length-1 %}
                                        <div class="col-xs-4">
                                            <div data-linkto="{{ similar_projects[i]["id"] }}" class="card">
                                                <div class="figure">
                                                    <img src="../{{ similar_projects[i]["front_image"] }}" alt="image">
                                                    <div class="figCaption">
                                                        {% if similar_projects[i]["min_price"] <=1 %}
                                                            <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                        {% else %}
                                                            <div>${{ similar_projects[i]["min_price"]|number_format }}+
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="figView">
                                                        <span class="icon-eye"></span>
                                                    </div>
                                                    <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                                </div>
                                                <h2>{{ similar_projects[i]["title"] }}</h2>
                                                <div class="cardAddress">
                                                    <span class="icon-pointer"></span> {{ similar_projects[i]["address"] }}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <a class="left carousel-control" href="#carouselSimilar-1" role="button" data-slide="prev"><span
                                class="fa fa-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carouselSimilar-1" role="button" data-slide="next"><span
                                class="fa fa-chevron-right"></span></a>
                </div>
                <!-- carousel for small devices -->
                <div id="carouselSimilar-2" class="carousel slide visible-md carousel-col">
                    <ol class="carousel-indicators">
                        {% if similar_projects|length<3 %}
                            <li data-target="#carouselSimilar-2" data-slide-to="0" class="active"></li>
                        {% elseif similar_projects|length<5 %}
                            <li data-target="#carouselSimilar-2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselSimilar-2" data-slide-to="1"></li>
                        {% else %}
                            <li data-target="#carouselSimilar-2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselSimilar-2" data-slide-to="1"></li>
                            <li data-target="#carouselSimilar-2" data-slide-to="2"></li>
                        {% endif %}
                    </ol>
                    <div class="carousel-inner">
                        {% if similar_projects|length<3 %}
                            <div class="item active">
                                <div class="row">
                                    {% for i in 0..similar_projects|length-1 %}
                                        <div class="col-xs-6">
                                            <div data-linkto="{{ similar_projects[i]["id"] }}" class="card">
                                                <div class="figure">
                                                    <img src="../{{ similar_projects[i]["front_image"] }}" alt="image">
                                                    <div class="figCaption">
                                                        {% if similar_projects[i]["min_price"] <=1 %}
                                                            <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                        {% else %}
                                                            <div>${{ similar_projects[i]["min_price"]|number_format }}+
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="figView">
                                                        <span class="icon-eye"></span>
                                                    </div>
                                                    <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                                </div>
                                                <h2>{{ similar_projects[i]["title"] }}</h2>
                                                <div class="cardAddress">
                                                    <span class="icon-pointer"></span> {{ similar_projects[i]["address"] }}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% elseif similar_projects|length<5 %}
                            <div class="item active">
                                <div class="row">
                                    {% for i in 0..1 %}
                                        <div class="col-xs-6">
                                            <div data-linkto="{{ similar_projects[i]["id"] }}" class="card">
                                                <div class="figure">
                                                    <img src="../{{ similar_projects[i]["front_image"] }}" alt="image">
                                                    <div class="figCaption">
                                                        {% if similar_projects[i]["min_price"] <=1 %}
                                                            <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                        {% else %}
                                                            <div>${{ similar_projects[i]["min_price"]|number_format }}+
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="figView">
                                                        <span class="icon-eye"></span>
                                                    </div>
                                                    <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                                </div>
                                                <h2>{{ similar_projects[i]["title"] }}</h2>
                                                <div class="cardAddress">
                                                    <span class="icon-pointer"></span> {{ similar_projects[i]["address"] }}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    {% for i in 2..similar_projects|length-1 %}
                                        <div class="col-xs-6">
                                            <div data-linkto="{{ similar_projects[i]["id"] }}" class="card">
                                                <div class="figure">
                                                    <img src="../{{ similar_projects[i]["front_image"] }}" alt="image">
                                                    <div class="figCaption">
                                                        {% if similar_projects[i]["min_price"] <=1 %}
                                                            <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                        {% else %}
                                                            <div>${{ similar_projects[i]["min_price"]|number_format }}+
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="figView">
                                                        <span class="icon-eye"></span>
                                                    </div>
                                                    <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                                </div>
                                                <h2>{{ similar_projects[i]["title"] }}</h2>
                                                <div class="cardAddress">
                                                    <span class="icon-pointer"></span> {{ similar_projects[i]["address"] }}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="item active">
                                <div class="row">
                                    {% for i in 0..1 %}
                                        <div class="col-xs-6">
                                            <div data-linkto="{{ similar_projects[i]["id"] }}" class="card">
                                                <div class="figure">
                                                    <img src="../{{ similar_projects[i]["front_image"] }}" alt="image">
                                                    <div class="figCaption">
                                                        {% if similar_projects[i]["min_price"] <=1 %}
                                                            <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                        {% else %}
                                                            <div>${{ similar_projects[i]["min_price"]|number_format }}+
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="figView">
                                                        <span class="icon-eye"></span>
                                                    </div>
                                                    <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                                </div>
                                                <h2>{{ similar_projects[i]["title"] }}</h2>
                                                <div class="cardAddress">
                                                    <span class="icon-pointer"></span> {{ similar_projects[i]["address"] }}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    {% for i in 2..3 %}
                                        <div class="col-xs-6">
                                            <div data-linkto="{{ similar_projects[i]["id"] }}" class="card">
                                                <div class="figure">
                                                    <img src="../{{ similar_projects[i]["front_image"] }}" alt="image">
                                                    <div class="figCaption">
                                                        {% if similar_projects[i]["min_price"] <=1 %}
                                                            <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                        {% else %}
                                                            <div>${{ similar_projects[i]["min_price"]|number_format }}+
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="figView">
                                                        <span class="icon-eye"></span>
                                                    </div>
                                                    <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                                </div>
                                                <h2>{{ similar_projects[i]["title"] }}</h2>
                                                <div class="cardAddress">
                                                    <span class="icon-pointer"></span> {{ similar_projects[i]["address"] }}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    {% for i in 4..similar_projects|length-1 %}
                                        <div class="col-xs-6">
                                            <div data-linkto="{{ similar_projects[i]["id"] }}" class="card">
                                                <div class="figure">
                                                    <img src="../{{ similar_projects[i]["front_image"] }}" alt="image">
                                                    <div class="figCaption">
                                                        {% if similar_projects[i]["min_price"] <=1 %}
                                                            <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                        {% else %}
                                                            <div>${{ similar_projects[i]["min_price"]|number_format }}+
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="figView">
                                                        <span class="icon-eye"></span>
                                                    </div>
                                                    <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                                </div>
                                                <h2>{{ similar_projects[i]["title"] }}</h2>
                                                <div class="cardAddress">
                                                    <span class="icon-pointer"></span> {{ similar_projects[i]["address"] }}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div><!-- carousel-inner -->
                    <a class="left carousel-control" href="#carouselSimilar-2" role="button" data-slide="prev"><span
                                class="fa fa-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carouselSimilar-2" role="button" data-slide="next"><span
                                class="fa fa-chevron-right"></span></a>
                </div>

                <!-- carousel for extra-small devices -->
                <div id="carouselSimilar-3" class="carousel slide visible-xs visible-sm carousel-col">
                    <ol class="carousel-indicators">
                        {% for i in 0..similar_projects|length-1 %}
                            <li data-target="#carouselSimilar-3" data-slide-to=i class="active"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div data-linkto="{{ similar_projects[0]["id"] }}" class="card">
                                        <div class="figure">
                                            <img src="../{{ similar_projects[0]["front_image"] }}" alt="image">
                                            <div class="figCaption">
                                                {% if similar_projects[0]["min_price"] <=1 %}
                                                    <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                {% else %}
                                                    <div>${{ similar_projects[0]["min_price"]|number_format }}+
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="figView">
                                                <span class="icon-eye"></span>
                                            </div>
                                            <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                        </div>
                                        <h2>{{ similar_projects[0]["title"] }}</h2>
                                        <div class="cardAddress">
                                            <span class="icon-pointer"></span> {{ similar_projects[0]["address"] }}
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if similar_projects|length > 1 %}
                            {% for i in 1..similar_projects|length-1 %}
                                <div class="item ">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div data-linkto="{{ similar_projects[i]["id"] }}" class="card">
                                                <div class="figure">
                                                    <img src="../{{ similar_projects[i]["front_image"] }}" alt="image">
                                                    <div class="figCaption">
                                                        {% if similar_projects[i]["min_price"] <=1 %}
                                                            <div>{% trans %}single.consult_us_price{% endtrans %}</div>
                                                        {% else %}
                                                            <div>${{ similar_projects[i]["min_price"]|number_format }}+
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="figView">
                                                        <span class="icon-eye"></span>
                                                    </div>
                                                    <div class="figType">{% trans %}single.on_sale{% endtrans %}</div>
                                                </div>
                                                <h2>{{ similar_projects[i]["title"] }}</h2>
                                                <div class="cardAddress">
                                                    <span class="icon-pointer"></span> {{ similar_projects[i]["address"] }}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                    <a class="left carousel-control" href="#carouselSimilar-3" role="button" data-slide="prev"><span
                                class="fa fa-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carouselSimilar-3" role="button" data-slide="next"><span
                                class="fa fa-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="contactAgent" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="contactLabel">{% trans %}single.contact_agent{% endtrans %}</h4>
                </div>
                <form id="contact-form" onsubmit="return false" class="contactForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                <input placeholder="{% trans %}single.name{% endtrans %}"
                                       type="text" required name="full_name" class="form-control">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                <input placeholder="{% trans %}single.email{% endtrans %}"
                                       type="text" required name="email_address" class="form-control">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                <input placeholder="{% trans %}single.subject{% endtrans %}"
                                       type="text" required name="email_subject" class="form-control">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                            <textarea placeholder="{% trans %}single.message{% endtrans %}"
                                      required name="apply_message" rows="3" class="form-control"></textarea>
                            </div>
                            <input type="hidden" name="receiver" value="{{ project['account']['email'] }}">
                            <input type="hidden" name="project_title" value="{{ project['title'] }}">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfIte ">
                                <a id="result"></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">
                            {% trans %}single.close{% endtrans %}
                        </a>
                        <input id="btn-submit" type="submit" class="btn btn-round btn-green"
                               value="{% trans %}single.send_message{% endtrans %}"/>
                    </div>
                </form>
                {% if msg is defined %}
                    <a>{{ msg }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %} {% block javascripts %}
    <script type="text/javascript">
        var project ={{ project|json_encode|raw }};
        document.getElementById("search_btn").onclick = function () {
            var keyword = document.getElementById('search_keyword').value;
            document.getElementById("search_btn").href = "/explore/1?keyword=" + keyword;
        };
    </script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('js/infobox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.tagsinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/app-single.js') }}"></script>
{% endblock %}